.light {
    --theme-color: #A80000;
    --theme-page-background: white;
    --theme-page-text: black;
}

.dark {
    --theme-color:  rgb(71, 110, 240);
    --theme-page-background: #111;
    --theme-page-text: #FFF;
}
