@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Just+Another+Hand&family=Patrick+Hand&display=swap");

/* Perfect */
/* font-family: 'Catamaran', sans-serif; */
/* normal */
/* font-family: 'Just Another Hand', cursive; */
/* fast */
/* font-family: 'Patrick Hand', cursive; */

body {
  margin: 0;
background-color:red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-gradient {
  border-bottom: 1.5px solid;
  border-radius: 5px;
  border-image-slice: 10;
}

.signOut-border-gradient {
  border: 1.3px solid;
  border-radius: 2px;
  border-image-slice: 10;
}

.outermost-border-gradient {
  border-image-source: linear-gradient(
    45deg,
    #605df0,
    #67c6e3 /* rgb(237, 225, 133),
    rgb(243, 112, 182) ,
    rgb(255, 0, 0) */
  );
}

.hero-border-gradient {
  border: 3px solid;
  border-bottom: none;
  border-radius: 5px;
  border-image-slice: 10;
}

.herotext-border-gradient {
  border-image-source: linear-gradient(
    45deg,
    rgb(133, 223, 237),
    rgb(243, 112, 175),
    rgb(255, 217, 0)
  );
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--navbarBackgrounnd);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--folderHoverBackgroundColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--toggleButtonColor);
}

:root {
  --sidebarBackgroundColor: #faf7f7;
  --sidebarOptionsColor: #ff7758;
  --sidebarBorderColor: #ff7758;

  --fileContentOptionsColor: #ff7758;
  --folderHoverBackgroundColor: #f8f0ef;

  --textInputFieldBackgroundColor: #f8eae8;
  --textInputFieldColor: #3a3d3f;

 --fileContentTextColor:#f3e4e1;

  --background: #f8f0ef;

  --navbarBackground: #ffffff;
  --navbarIconColor: #f1f111;

  --text: black;
  --iconWrapperHoverColor: rgb(209, 200, 133);
  --fileContentOptionIconHoverColor: rgb(209, 200, 133);

  --themetic: red;
  --navbarButtonHoverAndActiveColor: #f1f111;
  --navbarButtonActiveTextColor: black;
  --toggleButtonColor: #ff7758;
  --signoutButtonBackgroundColor: #f3f5e0;
  --signoutButtonBorderColor: #ff7758;
  --signInAndSignOutCardBackgroundColor: #eff1d6;
}

[data-theme="dark"] {
  --sidebarBackgroundColor: #1d0731;
  --sidebarOptionsColor: #7d53a7;
  --sidebarBorderColor: #7d53a7;

  --fileContentOptionsColor: #7d53a7;
  --folderHoverBackgroundColor: #1d0731;

  --textInputFieldBackgroundColor: #31194b;
  --textInputFieldColor: #93989d;

  --background: #0c0314;
  --navbarBackground: #290c45;
  --navbarIconColor: #bf93eb;

  --text: white;
  --iconWrapperHoverColor: #9d4aef;
  --fileContentOptionIconHoverColor: #9d4aef;

  --themetic: blue;
  --navbarButtonHoverAndActiveColor: #7d53a7;
  --navbarButtonActiveTextColor: white;
  --toggleButtonColor: #bf93eb;
  --signoutButtonBackgroundColor: #3b0970;
  --signoutButtonBorderColor: #bf93eb;
  --signInAndSignOutCardBackgroundColor: #140522;
}
