body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-gradient {
  border-bottom: 1.5px solid;
  border-radius:5px;
  border-image-slice: 10;
}

.signOut-border-gradient {
  border: 1.3px solid;
  border-radius:2px;
  border-image-slice: 10;
}

.outermost-border-gradient{
  border-image-source: linear-gradient(
    45deg,#605df0 ,#67c6e3
    /* rgb(237, 225, 133),
    rgb(243, 112, 182) ,
    rgb(255, 0, 0) */
  )}

  .hero-border-gradient {
    border: 3px solid;
    border-bottom:none;
    border-radius:5px;
    border-image-slice: 10;
  }

  .herotext-border-gradient{
    border-image-source: linear-gradient(
      45deg,
      rgb(133, 223, 237),
      rgb(243, 112, 175) ,
      rgb(255, 217, 0)
    )}

    :root {
      --background: white;
      --text-primary: black;
      --text-secondary: royalblue;
      --accent: purple;
      
      --background: #f6f7eb;
      --navbarBackground: #ffffff;
      --text: black;
      --themetic: red;
      --navbarButtonHoverAndActiveColor:#f1f111;
      /* f0f0bf */
      --navbarButtonActiveTextColor:black;
      --toggleButtonColor: #f1f111;
      --signoutButtonBackgroundColor:#f3f5e0;
      --signoutButtonBorderColor: #f1f111;
      --signInAndSignOutCardBackgroundColor:#eff1d6;
    }
    [data-theme='dark'] {
      --background: black;
      --text-primary: white;
      --text-secondary: grey;
      --accent: darkred;

      
      --background: #0c0314;
      --navbarBackground: #150523;
      --text: white;
      --themetic:blue;
      --navbarButtonHoverAndActiveColor:#7d53a7;
      --navbarButtonActiveTextColor:white;
      --toggleButtonColor:#bf93eb;
      --signoutButtonBackgroundColor:#31194b;
      --signoutButtonBorderColor: #bf93eb;
      --signInAndSignOutCardBackgroundColor:#140522;
    }
